.description.flex.flex-col.justify-center.items-center.w-screen.font-medium.text-center {
    text-shadow: #000 2.5px 2.5px 5px
}

.navbar-content.transition-navbar.has-home-banner .left .logo-title h1,
.navbar-content.transition-navbar.has-home-banner .right .desktop .navbar-item.search.search-popup-trigger i,
.navbar-content.transition-navbar.has-home-banner .right .desktop a,
.navbar-content.transition-navbar.has-home-banner .right .desktop a i,
.navbar-content.transition-navbar.has-home-banner .right .mobile .icon-item.search.search-popup-trigger i {
    color: #fff !important;
    text-shadow: #000 1px 1px 10px
}

.navbar-content.transition-navbar.has-home-banner .right .mobile .icon-item.navbar-bar .navbar-bar-middle,
.navbar-content.transition-navbar.has-home-banner .right .mobile .icon-item.navbar-bar .navbar-bar-middle:after,
.navbar-content.transition-navbar.has-home-banner .right .mobile .icon-item.navbar-bar .navbar-bar-middle:before {
    background: #fff !important;
    box-shadow: #000 1px 1px 10px
}

.navbar-content .icon-item.navbar-bar .navbar-bar-middle,
.navbar-content .icon-item.navbar-bar .navbar-bar-middle:after,
.navbar-content .icon-item.navbar-bar .navbar-bar-middle:before {
    background: var(--default-text-color);
}


.navbar-drawer-show .navbar-content.transition-navbar.has-home-banner .right .mobile .icon-item.navbar-bar .navbar-bar-middle {
    background: 0 0 !important;
    box-shadow: 0 0
}

.navbar-content.transition-navbar.has-home-banner .right .desktop .navbar-item.search.search-popup-trigger i:hover,
.navbar-content.transition-navbar.has-home-banner .right .desktop a:hover,
.navbar-content.transition-navbar.has-home-banner .right .desktop a:hover i {
    color: var(--primary-color) !important;
    text-shadow: #000 1px 1px 15px
}

.navbar-content.transition-navbar.has-home-banner .right .desktop .sub-menu,
.navbar-content.transition-navbar.has-home-banner .right .desktop .sub-menu a:hover {
    background: linear-gradient(120deg,rgba(200,157,235,.145) 0,rgba(152,156,240,.145) 100%) !important;
    fill-opacity: none
}

.navbar-content.transition-navbar.has-home-banner .right .desktop .navbar-list .navbar-item .sub-menu a::after {
    background: 0 0 !important
}

.search-pop-overlay.active #result,
.search-pop-overlay.active .search-header,
.search-pop-overlay.active div {
    border-radius: 8px
}

.search-pop-overlay.active div {
    background: 0 0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px)
}

.navbar-drawer.h-dvh.w-full.absolute.top-0.left-0.bg-background-color.flex.flex-col.justify-between {
    background: rgb(from var(--background-color) r g b / 75%) !important;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px)
}

div.search-pop-overlay.active div.search-header {
    background: rgb(from #202124 r g b / 20%) !important;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px)
}

.search-pop-overlay .search-popup .search-header .search-input-container .search-input {
    color: #fff !important
}

#search-result .search-result-list .search-result,
#search-result .search-result-title {
    color: #fff !important;
    text-shadow: #000 1px 1px 15px
}

#search-result .search-result-title:after {
    background: #fff !important;
    box-shadow: #000 1px 1px 15px
}

.home-sidebar-container .sidebar-content .statistics.flex.justify-around.my-2\.5 a .number.text-2xl.sm\:text-xl.text-second-text-color.font-semibold,
.article-content-container .article-title.relative.w-full h1 {
    color: var(--second-text-color)
}

.home-sidebar-container .sidebar-content .statistics.flex.justify-around.my-2\.5 a .label.text-third-text-color.text-sm,
.author.flex.items-center .author-label.ml-1\.5.text-xs.px-2.py-0\.5.rounded-small.text-third-text-color.border.border-shadow-color-1,
.navbar-drawer.h-dvh.w-full.absolute.top-0.left-0.bg-background-color.flex.flex-col.justify-between div a .label.text-third-text-color.text-sm {
    color: var(--third-text-color)
}

.author.flex.items-center .name.text-default-text-color.text-lg.font-semibold {
    color: var(--default-text-color)
}